<div class="todoapp">

  <header class="header">

    <div class="my-title">Todos</div>
    <input class="new-todo"
           placeholder="请输入备忘事件 What needs to be done?"
           autofocus=""
           [(ngModel)]="newTodo.title"
           (keyup.enter)="addTodo()">

  </header>

  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">

        <!-- region 每一行 -->

        <!--自己写的-->
        <app-todo-in-list [todo] = 'todo'></app-todo-in-list>

        <!-- endregion 每一行 -->

      </li>
    </ul>
  </section>

  <!--显示个数-->
  <footer class="footer" *ngIf = "todos.length > 0">
    <span class="todo-count">
      <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left ,
      已有 <strong>{{todos.length}}</strong> 条记录
    </span>

    <!--<h3>Todo22</h3>-->
  </footer>

  <!--<h1>Todo22</h1>-->

</div>
